body {
    font-family: Mulish;
    font-size: 13px;
    color: #1165BA;
    background-color:#A6CCE3;
    text-align: left;
    line-height: 160%;
    word-wrap: break-word;
    letter-spacing: 0.2px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*
a {
    color: red;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover {
    color: black;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

p a {border-bottom: 2px solid green;} */

blockquote {
    padding: 0 0 0 1.25em;
    border-left: 1px solid brown;
    margin: 1.25em 0 1.25em 1.25em;
}

h1, h2, h3, h4, h5, .title {
    color: #F28692;
    letter-spacing: 2px;
    line-height: 160%;
    font-weight: bold;
    text-transform: lowercase;
}

/*----- COMMON -----*/

.icon, #about-header img {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background-color: purple;
}

.icon-gradient {
    background: linear-gradient(to bottom right, #a6cce3, #f28692);
    border-radius: 50%;
    padding: 3px;
    display: inline-block;
}

.ui-icon {
    position: absolute;
    background-color: yellow;
    border-radius: 50%;
    text-align: center;
}

.ui-icon .feather {color: blue;}

.upper {
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 0.9em;
    margin-bottom: auto;
}

#favourites {
  padding-bottom: 88px;
}

.subtitle {
    text-transform: lowercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #F28692;
    margin-bottom: 1em;
    font-size: 1.15em;
}

article .feather {
    width: 1.25em;
    height: 1.25em;
    color: black;
    display: inline-block;
    vertical-align: middle;
}

/*----- CONTENT -----*/

#container {
    position: relative;
    margin: auto;
}

#content-wrap {
    width: 600px;
    margin: 50px auto;
    position: relative;
}

article {
    background-color: #ffffff;
    position: relative;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    /*box-shadow: var(--drop-shadows);*/
}

/*----- MAIN CONTENT -----*/

article .title {
    display: inline-block;
    font-size: 1.25em;
    margin-left: 1em;
}

.main-flex {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.summary {
  width: 900px;
}

.feather {
    width: 20px;
    height: 20px;
    color:green;
   display: inline-block;
   vertical-align: middle;
}
/*----- BOTTOM BOXES -----*/

.flexing {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.flex-left, .flex-right {width: 345px;}
.flex-right {margin-left: 10px;}
.flexing article {margin: 10px 0;}

/*----- SKILLS -----*/

.skill-bar {
    width: 100%;
    height: 15px;
    background-color: #d2e5f1;
    margin-top: 0.5em;
    border-radius: 15px;
    border: 1px solid #c9e0ee;
    overflow: hidden;
    padding: 3px;
    box-sizing: border-box;
}

#skills li {list-style-type: none; margin-top: 1.5em;}
#skills li:first-of-type {margin-top: 0;}

.skill-bar div {
    background: #75B3D6;
    height: 7px;
    border-radius: 10px;
}

#progress-one {width: 30%;}
#progress-two {width: 10%;}
#progress-three {width: 20%;}

/*----- FAVOURITES -----*/

#favourites li {
    list-style-type: none;
    display: inline-block;
    margin-left: 0.5em;
}

#favourites .upper {margin-top: 1em;}
#favourites li::after {content: ',';}
#favourites li:last-of-type::after {content: '.';}

/*----- QUOTE -----*/

#quote {
    text-align: center;
    margin: auto;
}

#quote b {font-size: 1.25em;}
#quote .upper {color: #F28692; margin-top: 1.5em;}

#quote b::before, #quote b::after {
    content: '❝';
    color: #F28692;
    font-size: 1.5em;
    display: inline-block;
	position: absolute;
}

#quote b::before {margin-left: -0.75em;}

#quote b::after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transition: rotate(180deg);
    -o-transition: rotate(180deg);
    transform: rotate(180deg);
    margin: -0.35em auto auto 0.25em;
}


#indextool {
  position: absolute;
  top: 8px;
  right: 110px;
  font-size: 16px;
  color:white;
}

#contact_tool {
  position: absolute;
  top: 8px;
  right: 26px;
  font-size: 16px;
  color:white;
}

#indextool a, #contact_tool a {
  text-decoration: none;
}

#indextool a:visited, #contact_tool a:visited {
  color:white;
}
